* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: black;
    color: white;
}

.navbar {
    width: 100%;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar .fa-spotify {
    font-size: 33px;
}

.navbar .home-icon {
    background-color: rgba(255, 255, 255, 0.15);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .home-icon i {
    font-size: 20px;
}